PROJECTA_USER_CODE_PORT=4001
PROJECTB_USER_CODE_PORT=4002
PROJECTC_USER_CODE_PORT=4003
DAGSTER_WEB_PORT=3004
DAGSTER_PG_USER=dagster_user
DAGSTER_PG_PASSWORD=dagster_password
DAGSTER_PG_DB=dagster
DAGSTER_PG_PORT=5432
DAGSTER_PG_HOSTNAME=dagster-postgres

USER_CODE_DBS="projectA=projectA projectB=projectB projectB=projectB"
PROJECTA_DB=projectA
PROJECTA_DIM_DB=projectA
PROJECTA_ADLS_CONTAINER_NAME=projectA
PROJECTA_DEFAULT_FACTREADINGS_OVERLAP_HOURS=12
PROJECTB_DB=projectB
PROJECTB_DIM_DB=projectB
PROJECTB_ADLS_CONTAINER_NAME=projectB
PROJECTB_DEFAULT_FACTREADINGS_OVERLAP_HOURS=12
PROJECTC_DB=projectB
PROJECTC_DIM_DB=projectB
PROJECTC_ADLS_CONTAINER_NAME=projectC
PROJECTC_DEFAULT_FACTREADINGS_OVERLAP_HOURS=12

MSSQL_HOST=la-ip-o-host
MSSQL_PORT=1433
MSSQL_USER=sa
MSSQL_PASSWORD=SuperSecret
MSSQL_CONNECT_TIMEOUT=15
MSSQL_COMMAND_TIMEOUT=5000
MSSQL_CONNECT_RETRY_COUNT=3
MSSQL_CONNECT_RETRY_INTERVAL=60
FACTLECTURAS_KEEP_DAYS=15

SPARK_MASTER_UI_PORT=8080
SPARK_MASTER_PORT=7077
SPARK_MASTER_URL=spark://spark-master:7077
SPARK_WORKER_MEM=3G
SPARK_EXECUTOR_MEM=2G
SPARK_WORKER_CORES=2

ADLS_URL=https://proddatalake.dfs.core.windows.net/datalake
ADLS_ACCOUNT_NAME=proddatalake
ADLS_BASE_PATH=datalake
ADLS_ACCOUNT_KEY=...

DIMSQL_HOST=la-ip-o-host
DIMSQL_PORT=1433
DIMSQL_USER=sa
DIMSQL_PASSWORD=SuperSecret
DIMSQL_CONNECT_TIMEOUT=15
DIMSQL_COMMAND_TIMEOUT=5000
DIMSQL_DRIVER="com.microsoft.sqlserver.jdbc.SQLServerDriver"
